<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Inventory book 2022 by <a href="https://github.com/01thn">thn</a></strong>
</footer>